#header-component-container {
  background: cyan;
  color: white;
  height: 125px;
  padding: 20px;
}

ul.header-menu {
  height: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
}

ul li.header-menu-item {
  margin-right: 15px;
  font-weight: 700;
  cursor: pointer;
}
